@theme {
  --default-*: initial;

  --breakpoint-md: 48rem;
  --breakpoint-lg: 81.25rem;
  --breakpoint-2xl: 93.75rem;

  --font-kozuka-gothic: "kozuka-gothic-pr6n", sans-serif;
  --font-acumin-variable: "acumin-variable", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --default-font-family: var(--font-kozuka-gothic);
  
  --color-black: #232323;
  --color-black-dark: #191919;
  --color-black-light: #3E3A39;
  --color-primary: #A7A04F;
  --color-primary-light: #DEDC78;
  --color-primary-lighter: #E5E198;
  --color-secondary: #FFCE00;

  --color-green: #A8D618;
  --color-blue: #17C698;
}