.footer {
  @apply pt-29.5 pb-5 bg-cover;

  .wrapper {
    @apply mx-auto max-w-325 px-27.5;
  }
  &__logo {
    @apply w-114.5;
  }
  &__navlinks {
    ul {
      @apply flex flex-col gap-4.5;
    }
    
    li {
      @apply font-acumin-variable text-3xl max-md:text-[4.25rem] font-black;
  
      a {
        @apply relative pl-8 max-md:pl-15 text-black;
        transition: all .3s ease-out;

        &::before {
          @apply absolute content-[''] left-0 w-6 h-1 max-md:w-11 max-md:h-1.5 bg-black top-1/2 -translate-y-1/2;
          transition: all .3s ease-out;
        }

        &:hover {
          @apply text-black/60;

          &::before {
            @apply w-4 h-0.5 max-md:w-6.75 max-md:h-1;
          }
        }
      }
    }
  }
  &__copy {
      @apply font-bold text-black tracking-[.04em] text-right mt-22.5;
  }
}