.footer {
  @apply pt-29.5 pb-5 max-md:pt-27.25 max-md:pb-8 bg-cover fixed w-full -z-[1] bottom-0;

  .wrapper {
    @apply mx-auto max-w-325 max-md:px-7.5 px-27.5;
  }
  &__logo {
    @apply block w-fit max-md:mx-auto;

    img {
      @apply w-114.5;
    }
  }
  &__navlinks {
    @apply max-md:mt-22 max-md:w-fit max-md:ml-auto;

    ul {
      @apply flex flex-col gap-4.5;
    }
    
    li {
      @apply font-acumin-variable text-3xl max-md:text-[2.625rem] font-black;
  
      a {
        @apply relative pl-8 max-md:pl-9 text-black;
        transition: all .3s ease-out;

        &::before {
          @apply absolute content-[''] left-0 w-6 h-1 max-md:w-6.75 max-md:h-1 bg-black top-1/2 -translate-y-1/2;
          transition: all .3s ease-out;
        }

        &:hover {
          @apply text-black/60;

          &::before {
            @apply w-4 h-0.5 max-md:w-6.75 max-md:h-1;
          }
        }
      }
    }
  }
  &__copy {
      @apply max-md:text-[1.3125rem] font-bold text-black tracking-[.04em] text-right mt-22.5;
  }
}