.navbar {
  @apply flex justify-between items-center px-12 pt-8 max-md:px-6 max-md:pt-7.5;

  &__logo {
    @apply w-[6.6875rem] pointer-events-auto;

    [data-apply-color="yellow"] & {
      @apply grayscale brightness-200;
    }
  }
}

.drawer {
  @apply relative text-[10px] pointer-events-auto;

  &__txt-btn {
    @apply font-acumin-variable tracking-[.02em] text-xl max-md:text-3xl text-primary z-[1];
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
  }

  &__btn {
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    width: 3.75rem;
    height: 3.75rem;
    
    &::before {
      @apply bg-linear-to-r from-primary to-primary-light;
      position: absolute;
      content: '';
      border-radius: 50%;
      width: 100%;
      height: 100%;
      padding: .25rem;
      -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white, white);
      -webkit-mask-composite: xor;

      mask-image: linear-gradient(white 0 0) content-box, linear-gradient(white, white);
      mask-composite: exclude;

      /* Fallback untuk Firefox */
      clip-path: inset(0px 0px);
      transition: opacity .2s .6s, transform 1s ease-out .7s;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid var(--border-color);
      border-radius: 50%;
      transition: .25s border-color;
      border-color: #fff;
    }
  
    > span {
      @apply bg-linear-to-r from-primary to-primary-light;
      position: absolute;
      display: flex;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      transition: .4s transform ;
      transition-property: width, height, left, right, transform;
      will-change: width, height, left, right, transform;
  
      &::before,
      &::after {
        @apply bg-linear-to-r from-primary to-primary-light;
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: .5rem;
        height: .5rem;
        border-radius: 10px;
        transition: .4s cubic-bezier(.7,0,.4,.8);
        transition-property: width, height, left, right, transform;
        transform: translateY(-50%);
        will-change: width, height, left, right, transform;
      }
  
      &::before {
        background-color: #fff;
        right: calc(100% + .375rem);
      }
  
      &::after {
        background-color: #fff;
        left: calc(100% + .375rem);
      }
    }
  
    &.is-open {
      &::before {
        /* opacity: 0; */
        transform: rotate(360deg);
        transition: opacity .4s, transform .4s;
      }
  
      > span {
        transform: rotate(90deg);
        width: 0;
        height: 0;
  
        &::before,
        &::after {
          @apply from-primary-light to-primary-light;
          width: 2rem;
          height: .25rem;
          
        }
  
        &::before {
          right: -2rem;
          transform: translate(-50%, -50%) rotate(45deg);
        }
  
        &::after {
          left: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
  
  &__menu {
    @apply absolute bg-black-dark text-white w-15 h-15 top-0 right-0 opacity-0;
    border-radius: 2.5rem;
    transition: all .4s ease-in .2s, opacity .3s .6s;
    will-change: width, height, opacity;

    .navlinks {
      @apply flex flex-col gap-4 max-md:gap-6 pointer-events-none;
  
      li {
        @apply font-acumin-variable text-3xl max-md:text-[4.25rem] font-black;
  
        a {
          @apply relative pl-8 max-md:pl-15;
          -webkit-text-stroke: .0313rem var(--color-primary);
          -webkit-text-fill-color: transparent;
          transition: all .3s ease-out;
  
          &::before {
            @apply absolute content-[''] left-0 w-6 h-1 max-md:w-11 max-md:h-1.5 bg-primary top-1/2 -translate-y-1/2;
            transition: all .3s ease-out;
          }
  
          &:hover {
            -webkit-text-stroke: .0313rem var(--color-primary);
            -webkit-text-fill-color: var(--color-primary);
  
            &::before {
              @apply w-4 h-0.5 max-md:w-6.75 max-md:h-1;
            }
          }
        }
  
        &.current-link {
  
          a {
            -webkit-text-stroke: .0313rem var(--color-primary);
            -webkit-text-fill-color: var(--color-primary);
  
            &::before {
              @apply w-4 h-0.5 max-md:w-6.75 max-md:h-1;
            }
          }
        }
      }
    }

    &.is-open {
      @apply -top-4 max-md:-top-7.5 -right-6 opacity-100 pt-26 max-md:pt-61.5 px-10 max-md:px-7.5 pb-10 w-100 max-md:w-screen h-100 max-md:h-[100dvh] rounded-[1.25rem] max-md:rounded-[0];
      transition: all .4s .2s, opacity .3s;

      .navlinks {
        @apply pointer-events-auto;
      }
    } 
  }

  [data-apply-color="yellow"] & {
    &__txt-btn {
      @apply text-white;
    }

    &__btn {
      &::before {
        @apply grayscale brightness-200;
      }

      > span {
        @apply grayscale brightness-200;
        &::before,
        &::after {
          @apply grayscale brightness-200;
        }
      }

      &.is-open {

        &::before {
          @apply grayscale-0 brightness-100;
        }

        > span {
          @apply grayscale-0 brightness-100;
          &::before,
          &::after {
            @apply grayscale-0 brightness-100;
          }
        }
      }
    }
  }
}
