.p-about {

  .about-top {
    @apply pt-33 pb-24 max-md:pt-18.75 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }
  }

  .about-point {
    @apply bg-primary pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply px-5 max-md:px-6.25 max-w-325 mx-auto;

      .point-list {

        &__item {
          @apply relative grid md:flex gap-8.5 pl-22.5 pt-6 pb-21 pt-9.5 max-md:pl-0 max-md:gap-x-4 max-md:gap-8 max-md:pt-9 max-md:flex-wrap max-md:pb-16;

          &:not(:first-child) {

            &::before {
              @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
            }
          }
        }

        &__num {
          @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] max-md:col-start-1 max-md:col-end-2 max-md:row-start-1 max-md:row-end-2;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;
        }

        &__desc {
          @apply max-w-185 pt-2 max-md:col-start-2 max-md:col-end-3 max-md:row-start-1 max-md:row-end-2;

          h3 {
            @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem];
          }

          p {
            @apply text-lg leading-[1.78] mt-8 max-md:text-[1.3125rem] leading-[1.52];
          }
        }

        img {
          @apply md:absolute md:right-0 md:top-10 w-70.5 ml-auto max-md:col-start-1 max-md:col-end-3 max-md:row-start-2 max-md:row-end-3; 
        }
      }
    }
  }

  .about-edu {
    @apply pt-32 max-md:pt-22;

    .sc-title {

      h2 {
        @apply max-md:text-[4.375rem];
      }
    }

    .wrapper {
      @apply max-w-325 mx-auto;
    }

    .edu-desc {
      @apply text-center mt-24 max-md:mt-20;

      p {
        &:first-child {
          @apply text-[2.25rem] font-bold tracking-[-.04em] leading-[1.83] max-md:text-[2rem];
        }

        &:nth-child(2) {
          @apply text-2xl mt-4 font-bold leading-[2.3] tracking-[-.04em] text-[1.375rem] max-md:mt-3;
        }
      }
    }

    .edu-list {
      @apply flex gap-16.5 justify-end mt-24 pl-16.5 max-md:gap-6.25 max-md:pl-6.25 max-md:mt-22;

      &__pagination {
        @apply flex flex-col gap-2.5 !w-fit;

        span {
          @apply !grid place-content-center !w-22.5 !h-22.5 !rounded-[.9375rem] font-bebas text-[2.75rem] !bg-[#66612F] transition-colors duration-200 hover:!bg-primary/75 !opacity-100 !m-0;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;

          &.swiper-pagination-bullet-active {
            @apply !bg-primary;
          }
        }
      }

      /* &__slider {
        @apply !w-270;
      } */

      &__content {
        @apply rounded-l-[2.8125rem] overflow-hidden max-md:h-178;
        
        img {
          @apply scale-[1.001] max-md:h-full max-md:object-cover;
        }

        > div {
            @apply absolute bottom-0 left-0 w-full py-10.5 pl-15 pr-27 rounded-bl-[2.8125rem] overflow-hidden max-md:pt-11 max-md:pl-5 max-md:pr-8.75 max-md:pb-17.5;

            &::before {
              @apply absolute content-[''] w-full h-full bg-primary mix-blend-multiply bottom-0 left-0;
            }

            > * {
              @apply relative;
            }

            h3 {
              @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.55] max-md:text-[2.375rem];
            }

            p {
              @apply text-lg leading-[1.78] mt-5 max-md:text-justify;
            }
        }
      }
    }

    .edu-banner {
      @apply bg-cover bg-top w-full h-108.25 mt-27.5 max-md:h-54 max-md:mt-20;
      background-image: url('assets/img/edu-banner.jpg');
    }
  }

  .about-outline {
    @apply pt-32 max-md:pt-22;

    .sc-title {

      h2 {
        @apply max-md:text-[4.375rem];
      }
    }

    .wrapper {
      @apply max-w-325 mx-auto;
    }

    .edu-desc {
      @apply text-center mt-24 max-md:mt-20;

      p {
        &:first-child {
          @apply text-[2.25rem] font-bold tracking-[-.04em] leading-[1.83] max-md:text-[2rem];
        }

        &:nth-child(2) {
          @apply text-2xl mt-4 font-bold leading-[2.3] tracking-[-.04em] text-[1.375rem] max-md:mt-3;
        }
      }
    }

    .edu-banner {
      @apply bg-cover bg-top w-full h-108.25 mt-27.5 max-md:h-54 max-md:mt-20;
      background-image: url('assets/img/edu-banner.jpg');
    }
  }
}