.p-about {

  .about-top {
    @apply pt-33 pb-24 max-md:pt-18.75 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }
  }

  .about-point {
    @apply bg-primary pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply px-5 max-md:px-6.25 max-w-325 mx-auto;

      .point-list {

        &__item {
          @apply relative grid md:flex gap-8.5 pl-22.5 pt-6 pb-21 pt-9.5 max-md:pl-0 max-md:gap-x-4 max-md:gap-8 max-md:pt-9 max-md:flex-wrap max-md:pb-16;

          &:not(:first-child) {

            &::before {
              @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
            }
          }
        }

        &__num {
          @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] max-md:col-start-1 max-md:col-end-2 max-md:row-start-1 max-md:row-end-2;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;
        }

        &__desc {
          @apply max-w-185 pt-2 max-md:col-start-2 max-md:col-end-3 max-md:row-start-1 max-md:row-end-2;

          h3 {
            @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem];
          }

          p {
            @apply text-lg leading-[1.78] mt-8 max-md:text-[1.3125rem] leading-[1.52];
          }
        }

        img {
          @apply md:absolute md:right-0 md:top-10 w-70.5 ml-auto max-md:col-start-1 max-md:col-end-3 max-md:row-start-2 max-md:row-end-3; 
        }
      }
    }
  }

  .about-edu {
    @apply pt-32 max-md:pt-22;

    .sc-title {

      h2 {
        @apply max-md:text-[4.375rem];
      }
    }

    .wrapper {
      @apply max-w-325 mx-auto;
    }

    .edu-desc {
      @apply text-center mt-24 max-md:mt-20;

      p {
        &:first-child {
          @apply text-[2.25rem] font-bold tracking-[-.04em] leading-[1.83] max-md:text-[2rem];
        }

        &:nth-child(2) {
          @apply text-2xl mt-4 font-bold leading-[2.3] tracking-[-.04em] text-[1.375rem] max-md:mt-3;
        }
      }
    }

    .edu-list {
      @apply flex flex-row-reverse gap-16.5 justify-end items-start mt-24 pl-16.5 max-md:gap-6.25 max-md:pl-6.25 max-md:mt-22;

      .splide__pagination {
        @apply !relative !flex flex-col gap-2.5 !w-fit !px-0 !bottom-auto;

        button {
          @apply !grid place-content-center !w-22.5 !h-22.5 !rounded-[.9375rem] font-bebas text-[2.75rem] !bg-[#66612F] transition-colors duration-200 hover:!bg-primary/75 !opacity-100 !m-0;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;

          &.is-active {
            @apply !bg-primary;
            transform: scale(1) !important;
          }
        }
      }

      /* &__slider {
        @apply !w-270;
      } */

      &__content {
        @apply rounded-l-[2.8125rem] overflow-hidden max-md:h-178;
        
        img {
          @apply scale-[1.001] max-md:h-full max-md:object-cover;
        }

        > div {
            @apply absolute bottom-0 left-0 w-full py-10.5 pl-15 pr-27 rounded-bl-[2.8125rem] overflow-hidden max-md:pt-11 max-md:pl-5 max-md:pr-8.75 max-md:pb-17.5;

            &::before {
              @apply absolute content-[''] w-full h-full bg-primary mix-blend-multiply bottom-0 left-0;
            }

            > * {
              @apply relative;
            }

            h3 {
              @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.55] max-md:text-[2.375rem];
            }

            p {
              @apply text-lg leading-[1.78] mt-5 max-md:text-justify;
            }
        }
      }
    }

    .edu-banner {
      @apply bg-cover bg-top w-full h-108.25 mt-27.5 max-md:h-54 max-md:mt-20;
      background-image: url('assets/img/edu-banner.jpg');
    }
  }

  .about-outline {
    @apply relative pt-28.75 max-md:pt-22;

    .about-ornament {
      @apply absolute w-254.25 -bottom-208 -left-60 select-none pointer-events-none max-md:w-340 max-md:max-w-340 max-md:-bottom-135 max-md:-left-152;
    }

    .wrapper {
      @apply max-w-325 mx-auto relative;
    }

    .edu-table {
      @apply text-center mt-18 max-md:mt-14 md:flex gap-15 items-start md:pl-27;

      table {
        @apply flex-1 max-md:w-[calc(100%_-_3.75rem)] max-md:mx-auto;

        tr {
          th,td {
            @apply h-25 text-lg max-md:text-[1.3125rem] text-left border-b border-primary max-md:block max-md:h-auto max-md:pb-6 leading-[1.2];
          }

          th {
            @apply font-bold text-primary w-54 max-md:border-none max-md:pt-6;
          }
        }
      }

      img {
        @apply rounded-l-[1.875rem] w-111.5 max-md:w-full max-md:rounded-l-none max-md:mt-19.5;
      }
    }
  }

  .about-staff {
    @apply pt-37.5 max-md:pt-25;

    /* .wrapper {
    } */
    
    .staff-list {
      @apply mt-13;
      
      .splide__slide {
        @apply !w-104.25;
      }
      
      &__item {

        &__img {
          @apply relative;
          img {
            @apply rounded-[2.8125rem];
          }
          span {
            @apply absolute inline-block font-bebas text-[5rem] bottom-3 right-5 leading-[1];
            -webkit-text-stroke: .0625rem var(--color-white);
            -webkit-text-fill-color: transparent;
          }
        }

        &__desc {
          @apply mt-6.5;

          div {
            @apply bg-primary rounded-4xl text-lg text-center font-medium py-3.25;
          }

          p {
            @apply text-lg mt-24 text-center;
          }
        }
      }
    }
  }
}