.p-about {

  .about-top {
    @apply pt-33 pb-24 max-md:pt-18.75 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }
  }

  .about-point {
    @apply bg-primary pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply px-5 max-md:px-6.25 max-w-325 mx-auto;

      .point-list {

        &__item {
          @apply relative grid md:flex gap-8.5 pl-22.5 pt-6 pb-21 pt-9.5 max-md:pl-0 max-md:gap-x-4 max-md:gap-8 max-md:pt-9 max-md:flex-wrap max-md:pb-16;

          &:not(:first-child) {

            &::before {
              @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
            }
          }
        }

        &__num {
          @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] max-md:col-start-1 max-md:col-end-2 max-md:row-start-1 max-md:row-end-2;
          font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;
        }

        &__desc {
          @apply max-w-185 pt-2 max-md:col-start-2 max-md:col-end-3 max-md:row-start-1 max-md:row-end-2;

          h3 {
            @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem];
          }

          p {
            @apply text-lg leading-[1.78] mt-8 max-md:text-[1.3125rem] leading-[1.52];
          }
        }

        img {
          @apply md:absolute md:right-0 md:top-10 w-70.5 ml-auto max-md:col-start-1 max-md:col-end-3 max-md:row-start-2 max-md:row-end-3; 
        }
      }
    }
  }

  .about-edu {
    @apply pt-24.5 pb-18 max-md:pt-20;
  }
}