.p-about {

  .about-top {
    @apply pt-33 pb-24 max-md:pt-18.75 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }
  }

  .about-point {
    @apply bg-primary pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply px-5 max-md:px-6.25 max-w-325 mx-auto;

      .point-list {

        &__item {
          @apply relative grid md:flex gap-8.5 pl-22.5 pt-6 pb-21 pt-9.5 max-md:pl-0 max-md:gap-x-4 max-md:gap-8 max-md:pt-9 max-md:flex-wrap max-md:pb-16;

          &:not(:first-child) {

            &::before {
              @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
            }
          }
        }

        &__num {
          @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] max-md:col-start-1 max-md:col-end-2 max-md:row-start-1 max-md:row-end-2;
          -webkit-text-stroke: .0625rem var(--color-white);
          -webkit-text-fill-color: transparent;
        }

        &__desc {
          @apply max-w-185 pt-2 max-md:col-start-2 max-md:col-end-3 max-md:row-start-1 max-md:row-end-2;

          h3 {
            @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem];
          }

          p {
            @apply text-lg leading-[1.78] mt-8 max-md:text-[1.3125rem] leading-[1.52];
          }
        }

        img {
          @apply md:absolute md:right-0 md:top-10 w-70.5 ml-auto max-md:col-start-1 max-md:col-end-3 max-md:row-start-2 max-md:row-end-3; 
        }
      }
    }
  }

  .about-edu {
    @apply pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply max-w-325 mx-auto;
    }

    .edu-desc {
      @apply text-center mt-24;

      p {
        &:first-child {
          @apply text-[2.25rem] font-bold tracking-[.04em] leading-[1.83];
        }

        &:nth-child(2) {
          @apply text-2xl mt-4 font-bold leading-[2.3] tracking-[.04em];
        }
      }
    }

    .edu-list {
      @apply flex gap-16 justify-end;

      &__pagination {
        @apply flex flex-col gap-2.5;

        li {
          button {
            @apply w-22.5 h-22.5 rounded-[.9375rem] font-bebas text-[2.75rem] cursor-pointer bg-[#66612F] transition-colors duration-200 hover:bg-primary;
            -webkit-text-stroke: .0625rem var(--color-white);
            -webkit-text-fill-color: transparent;

            &.is-active {
              @apply bg-primary;
            }
          }
        }
      }

      &__content {
        @apply absolute top-0 left-0 w-full opacity-0 invisible transition-all duration-500 rounded-l-[2.8125rem] overflow-hidden;

        &:first-child {
          @apply relative;
        }
        
        img {
          @apply w-270 scale-[1.001];
        }

        > div {
            @apply absolute bottom-0 left-0 w-full bg-primary/10;

          h3 {

          }

          p {

          }
        }

        &.is-active {
          @apply opacity-100 visible;

          img {
          }
        }
      }
    }
  }
}