.p-contact {
  @apply py-24;

  .anchor ul {
    @apply w-fit;
  }

  &__content {
    @apply py-20 max-md:py-22 bg-no-repeat bg-[63.5625rem_auto] bg-[top_-5.9375rem_left_-8.3125rem] max-md:bg-[bottom_-3.5rem_right_-31rem];
  background-image: url('assets/img/speed-ornament.svg');

    .wrapper {
      @apply max-w-270 mx-auto;
    }

    &__head {

      &__tel {
        @apply mt-10 mb-28;

        &__info {
          @apply flex gap-8 justify-center text-[2rem] mb-1;

          a {
            @apply font-bebas text-[4.7813rem] tracking-[.125rem] leading-[1];
          }
        }

        &__hours {
          @apply text-2xl font-bold text-center;
        }
      }

      &__text {
        @apply text-lg text-center font-medium mt-13.5;
      }

      &__steps {
        @apply flex justify-center gap-37.75 mt-32;

        li {
          @apply relative w-20 h-20 grid place-content-center text-xl border border-primary font-bold rounded-full text-primary;

          &:not(:first-child) {
            &::before {
              @apply absolute content-[''] w-37.75 h-[.0625rem] bg-primary left-0 top-1/2 translate-y-1/2 -translate-x-full;
            }
          }

          &.is-current {
            @apply bg-primary text-white;
          }
        }

      }
    }

    .mw_wp_form {
      @apply mt-13.5;

      .vertical-item {
        @apply block;
        + .vertical-item {
          @apply !mt-5;
        }
      }

      table {
        @apply w-full;

        tr {
          th,
          td {
            @apply align-top;
          }

          th {
            @apply flex items-center gap-3 w-74 font-normal;

            ._label {
              @apply text-xl;
            }

            ._require {
              @apply bg-[#9F0F0C] text-white inline-block leading-none p-2.5 whitespace-nowrap tracking-normal rounded;
            }
          }

          td {
            @apply pb-8;

            .flex {
              @apply gap-7.5;

              > p:last-child {
                @apply hidden;
              }
            }

            ._input {
              input:not([type="radio"]):not([type="checkbox"]),
              textarea {
                @apply border border-[#c4c3c3] bg-white rounded-[1.0625rem] text-lg w-full px-5 py-3 placeholder:text-[#ABACAC] text-[1.3125rem] font-medium text-black focus:outline-primary outline-offset-1;
              }

              input:not([type="radio"]):not([type="checkbox"]) {
                @apply h-12.5 rounded-4xl;
              }

              .horizontal-item {
                + .horizontal-item {
                  @apply !ml-0;
                }
              }

              &._radio {
                @apply flex gap-x-45 gap-y-6 flex-wrap w-[80%];
              }

              input[type=radio] {
                @apply hidden;
                
                + span {
                  @apply text-[1.3125rem] cursor-pointer inline-block leading-none pl-7 relative tracking-[.1em] font-medium;

                  &::before {
                    @apply aspect-square border rounded-full content-[''] block left-0 absolute top-1/2 -translate-y-1/2 w-3.25 border-white;
                  }

                  &::after {
                    @apply aspect-square border border-transparent rounded-full content-[''] left-1 opacity-0 absolute top-1/2 -translate-y-1/2 w-[1.125rem] transition-all bg-[linear-gradient(318.61deg,#5F9EA0_-20.87%,#4682B4_81.02%,#B0E0E6_114.98%)];
                  }
                }

                &:checked {
                  + span {
                    &::after {
                      @apply opacity-100;
                    }
                  }
                }
              }

              textarea {
                @apply min-h-50 field-sizing-content;
              }
            }
            
            small {
              @apply block mt-4 text-[#707070];
            }

            ._zip {
              @apply flex items-center gap-2;

              span {
                @apply text-lg;
              }

              input {
                @apply !max-w-50;
              }
            }
          }
        }
      }
    }
  }
}