.p-home {
  section {
    @apply relative;

    > h2 {
      @apply w-fit mx-auto;
      picture {
        img {
          @apply absolute;
        }

        &:first-child {
          img {
            @apply w-14.75 top-2 -left-10 max-md:w-7.25 max-md:top-0 max-md:-left-4.75;
          }
        }
        
        &:last-child {
          img {
            @apply w-13.5 -bottom-1.25 -right-8 max-md:w-6.75 max-md:-right-5;
          }
        }
      }
      span {
        @apply block font-acumin-variable text-[15.3125rem] max-md:text-[7.5rem] tracking-[.02em] leading-none text-center text-white;
        font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
        /* -webkit-text-stroke: .25rem var(--color-primary);
        -webkit-text-fill-color: transparent; */
        -webkit-text-stroke: .25rem var(--title-stroke, var(--color-primary));
        -webkit-text-fill-color: var(--title-fill, transparent);
      }
    }

    .layer-shift {
      @apply absolute translate-y-[100%] left-0 z-[2] grid w-full pointer-events-none h-100 max-md:h-70 bottom-0;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;

      > div {
        @apply h-full bg-black;

        &:nth-child(1) {margin-top: -2px;}
        &:nth-child(2) {margin-top: -4px;}
        &:nth-child(3) {margin-top: -6px;}
        &:nth-child(4) {margin-top: -8px;}
      }
    }
  }

  .home-top {
    width: 100%;
    height: 100svh;

    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }

    .wrapper {
      @apply relative w-full h-full bg-black/75 grid place-content-center;
      
      p {
        @apply text-[4.6875rem] font-black tracking-[-.04em];
      }
    }
  }

  .home-about {
    @apply bg-cover pt-33 pb-24 max-md:pt-27.5 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }

    .layer-shift {
      > div {
        @apply bg-cover max-md:bg-[208%_auto] max-md:bg-left-top;
      }
    }
  }

  .home-virtual {
    --title-stroke: var(--color-primary);
    --title-fill: transparent;
    @apply pt-33 pb-24 max-md:pt-26.5 relative;

    .running-txt {
      @apply opacity-10 overflow-hidden absolute z-[0] top-[21.875rem] select-none pointer-events-none w-full text-center max-md:top-[14.5rem];

      > div {
        @apply font-acumin-variable text-[10.625rem] max-md:text-[6.375rem] tracking-[.02em] leading-[1.15] max-md:leading-[1.2] text-primary;
        font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
        > span {
          /* -webkit-text-stroke: .25rem var(--color-primary);
          -webkit-text-fill-color: transparent; */
          -webkit-text-stroke: .25rem var(--title-stroke, var(--color-primary));
          -webkit-text-fill-color: var(--title-fill, transparent);
        }
      }
    }

    .wrapper {
      @apply md:flex md:gap-2.5 justify-center max-w-325 px-7.5 mx-auto;
      .content {
        @apply md:w-203;

        &__img {
          @apply pl-14 pr-23.25 pt-11.25 max-md:pt-0 max-md:px-0;
        }

        &__txt {
          ul {
            @apply grid grid-cols-2 max-md:grid-cols-1 gap-x-3.75 mt-13.75 max-md:mt-11;

            li {
              --color: var(--color-white);
              
              @media (width >= 48rem) {
                &:nth-child(8n+1),
                &:nth-child(8n+2) {
                  --color: var(--color-primary-light);
                }
  
                &:nth-child(8n+3),
                &:nth-child(8n+4) {
                  --color: var(--color-secondary);
                }
  
                &:nth-child(8n+5),
                &:nth-child(8n+6) {
                  --color: var(--color-green);
                }
  
                &:nth-child(8n+7),
                &:nth-child(8n+8) {
                  --color: var(--color-blue);
                }
              }

              @media (width < 48rem) {
                &:nth-child(4n+1) {
                  --color: var(--color-primary-light);
                }
  
                &:nth-child(4n+2) {
                  --color: var(--color-secondary);
                }
  
                &:nth-child(4n+3) {
                  --color: var(--color-green);
                }
  
                &:nth-child(4n+4) {
                  --color: var(--color-blue);
                }
              }

              button {
                @apply relative text-[var(--color)] text-[.875rem] max-md:text-[1.3125rem] opacity-50 hover:opacity-100 border-b-1 border-white/30 w-full h-11 max-md:h-16 cursor-pointer font-medium;

                &::before,
                &::after {
                  @apply absolute content-[''] bg-[var(--color)];
                }

                &::before {
                  @apply top-1/2 -translate-y-1/2 w-0.5 h-5 left-5.75 max-md:w-1 max-md:h-7.5 max-md:left-8.25;
                }
                &::after {
                  @apply top-1/2 -translate-y-1/2 w-5 h-0.5 left-3.5 max-md:h-1 max-md:w-7.5 max-md:left-5;
                }

                &.selected {
                  @apply opacity-100;
                }
              }
            }
          }
        }
      }
      
      .aside {
        @apply md:w-0 md:opacity-0 md:invisible transition-all duration-600 ease-out transition-all duration-600 delay-100 max-md:mt-10;

        &__close-btn {
          @apply select-none cursor-pointer transition-all duration-200 hover:opacity-75;

          img {
            @apply w-6.25 max-md:w-10;
          }
        }

        &__top,
        &__card {
          @apply md:opacity-0 md:invisible transition-all duration-100;
        }

        &__top {
          @apply flex font-medium gap-4 justify-between items-center mb-2.5;

          p {
            @apply text-lg text-primary line-clamp-1 flex-1 max-md:text-[1.3125rem];
          }
        }
        
        &__card {
          @apply bg-primary rounded-[.9375rem] w-full overflow-hidden p-6.25;

          ._thumb {
            @apply rounded-[.9375rem];
          }

          ._list {
            @apply mt-7.5 mb-6;
            
            li {
              @apply text-lg font-medium max-md:text-[1.3125rem];
            }
          }

          ._desc {
            @apply mt-7.5 max-md:text-lg text-justify md:tracking-[-.0625rem];
          }
        }

        &.is-show {
          @apply w-107 max-md:w-full opacity-100 visible transition-all duration-600;

          .aside {
            &__top,
            &__card {
              @apply opacity-100 visible transition-all duration-300 delay-600;
            }
          }
        }
      }
    }
  }

  .home-service {
    --title-stroke: var(--color-primary);
    --title-fill: transparent;
    @apply pt-33 pb-24 max-md:pt-27.5 max-md:pb-20;

    & > h2 {
      @apply z-[1];

      picture {
        &:first-child {
          img {
            @apply top-5 -left-3.75;
          }
        }
        &:last-child {
          img {
            @apply -bottom-3.5 -right-6.75;
          }
        }
      }
    }  
    
    .wrapper {
      @apply relative px-7.5 max-w-325 mx-auto mt-40;

      .service-roll-wrapper {
        @apply relative grid h-[400svh];

        .service-roll-text-track {
          @apply absolute top-60 w-50 h-[calc(100%_-45rem)];
        }
      }
      .service-roll {
        @apply h-[30rem] max-md:h-[17rem] w-full sticky top-1/2 -translate-y-1/2 relative;

        &::after {
          @apply absolute top-0 left-0 w-full h-full content-[''] bg-black/50;
        }
        
        canvas {
          @apply w-full;
        }
      }
      .service-roll-canvas-container {
        @apply absolute top-0 left-0 w-full h-full z-[1] pointer-events-none;

        &::before,
        &::after {
          @apply absolute content-[''] w-screen left-1/2 -translate-x-1/2 h-10;
        }
        &::before {
          @apply -top-8;
          background: linear-gradient(180deg, var(--color-black) 0%, var(--color-black) 65%, transparent 100%);
        }
        &::after {
          @apply -bottom-8;
          background: linear-gradient(0, var(--color-black) 0%, var(--color-black) 65%, transparent 100%);
        }
      }

      .service-roll-text {
        @apply absolute top-0 left-0 w-full h-full z-[1];
        
        ul {
          @apply absolute w-full h-full;
          perspective: 312.5rem;
          transform-style: preserve-3d;

          li {
            @apply text-center top-[45%];
            position: absolute;
            transform-style: preserve-3d;
            transform-origin: center;
            transform: translate3d(0, 20rem, -10rem) rotateX(-70deg);
            width: 100%;
            
            @media (width < 48rem) {
              transform: translate3d(0, 140%, -10rem) rotateX(-70deg);
             
            }

            a {
              @apply block relative;

              > div {

                &:nth-child(1) {
                  @apply absolute font-bebas w-max text-[12rem] top-1/2 left-1/2 -translate-1/2 max-md:text-[8rem];
                  -webkit-text-stroke: 1px var(--color-primary);
                  -webkit-text-fill-color: transparent;
                }

                &:nth-child(2) {
                  @apply translate-y-[-.625rem];
                  h3 {
                    @apply font-black text-[3rem];
                  }
                  span {
                    @apply font-medium text-lg;
                  }
                }
              }

              &:hover {
                > div {
                  &:nth-child(1) {
                    -webkit-text-fill-color: var(--color-white);
                    -webkit-text-stroke: 1px var(--color-primary);
                    opacity: .3;
                  }
                }
              }
            }
          }
        }
      }

      .service-roll-text-container {
        @apply absolute top-0 left-0 w-full h-full z-[1] pointer-events-none;

        &::before,
        &::after {
          @apply absolute content-[''] w-screen left-1/2 -translate-x-1/2 h-45 from-black via-black to-transparent max-md:h-20;
        }
        &::before {
          @apply -top-40 bg-gradient-to-b max-md:-top-18;
        }
        &::after {
          @apply -bottom-40 bg-gradient-to-t max-md:-bottom-15;
        }
      }
    }

    .menu-list {
      @apply relative;

      &::before {
        @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 bottom-0;
      }

      &__item {
        @apply relative;
        &::before {
          @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
        }
        &::after {
          @apply absolute content-[''] w-screen h-0 bg-linear-to-r from-primary to-primary-light left-1/2 -translate-1/2 top-1/2 z-[-1] transition-all duration-300;
        }

        &__head {
          @apply relative flex items-center gap-3 md:gap-8.5 py-5.5 md:pl-20.5 md:pr-5;

          &__num {
            @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] mt-1;
            -webkit-text-stroke: .0625rem var(--color-primary);
            -webkit-text-fill-color: transparent;
          }
          
          h3,
          h3 > span {
            @apply font-black text-[3rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem] text-primary;
          }

          span {
            @apply text-lg font-medium;
          }

          ._menu-button {
            @apply absolute top-1/2 right-5 max-md:right-0 -translate-y-1/2 w-14.25 h-14.25 cursor-pointer hover:opacity-60;
  
            &::before,
            &::after {
              @apply absolute content-[''] bg-black top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all duration-300;
            }
  
            &::before {
              @apply w-14.25 h-1.5;
            }
            &::after {
              @apply h-14.25 w-1.5;
            }
          }
        }

        &__content {
          @apply md:flex items-start justify-between w-full md:pl-20.5 md:pr-5;

          p {
            @apply text-lg leading-[1.78] max-md:text-[1.3125rem] leading-[1.52];
          }

          ._main-img {
            @apply rounded-[2.5rem] w-120 max-md:w-[calc(100%_-_6rem)] max-md:mx-auto;
          }
        }
        
        &.is-open {
          &::after {
            @apply h-full;
          }

          .menu-list__item {
            &__head {
              &__num {
                -webkit-text-fill-color: var(--color-white);
              }

              ._menu-button {
                
                &::before,
                &::after {
                  @apply bg-primary rotate-45;
                }
              }
            }
          }
        }

        &:hover {
          &::after {
            @apply h-full;
          }

          .menu-list {
            &__item {
              &__head {
                &__num {
                  -webkit-text-stroke: .0625rem var(--color-white);
                  -webkit-text-fill-color: var(--color-white);
                }

                h3,
                h3 > span {
                  @apply text-white;
                }
              }
            }
          }
        }
      }
    }
  }

  .home-company {
    --title-stroke: var(--color-white);
    --title-fill: transparent;
    @apply pt-33 pb-24 pt-33 pb-24 max-md:pt-27.5 max-md:pb-16 relative bg-bottom;

    & > h2 {
      picture {
        &:first-child {
          img {
            @apply top-5 -left-3.75 brightness-400;
          }
        }
        &:last-child {
          img {
            @apply -bottom-3.5 right-1 brightness-400;
          }
        }
      }
      span {
        @apply tracking-[-.02em];
      }
    }  
    
    .wrapper {
      @apply px-6.25 max-md:px-3.75 max-w-325 mx-auto text-center;

      #company-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];

        p:nth-child(1) {
          @apply text-[2rem] max-md:text-[1.75rem];
        }
      }
    }

    .layer-shift {
      > div {
        @apply bg-cover max-md:bg-[280%_auto] max-md:bg-left-top;
      }
    }
  }

  .home-attempt {
    --title-stroke: var(--color-primary);
    --title-fill: transparent;
    @apply pt-33 pb-80 max-md:pt-26.5 max-md:pb-60 relative;

    & > h2 {
      picture {
        &:first-child {
          img {
            @apply top-1 -left-1.25;
          }
        }
        &:last-child {
          img {
            @apply -bottom-3.5 right-1;
          }
        }
      }
    }  

    .imgs-wrapper {
      @apply absolute w-full left-0 mt-20 max-md:mt-44;

      img {
        @apply absolute;
        will-change: transform;
      }

      #img-02 {
        @apply max-w-51.5 left-0 top-26 max-md:max-w-25.25 max-md:top-14;
      }
      #img-03 {
        @apply max-w-48.5 right-0 top-0 max-md:max-w-23.75;
      }
      #img-04 {
        @apply max-w-114 left-27.5 top-209 max-md:max-w-56 max-md:top-120 max-md:left-10;
      }
      #img-05 {
        @apply max-w-82 right-27.5 top-164 max-md:max-w-40.25 max-md:top-100 max-md:right-10;
      }
    }
    
    .wrapper {
      @apply px-6.25 max-md:px-3.75 max-w-325 mx-auto text-center;

      #attempt-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }

      #img-01 {
        @apply max-w-175 max-md:max-w-86.25 mx-auto mt-21 sticky top-40 transition-all duration-400 ease-out hover:scale-110;
      }
    }
  }
}