.p-home {
  section {
    @apply relative;

    > h2 {
      @apply w-fit mx-auto;
      picture {
        img {
          @apply absolute;
        }

        &:first-child {
          img {
            @apply w-14.75 top-2 -left-10 max-md:w-7.25 max-md:top-0 max-md:-left-4.75;
          }
        }
        
        &:last-child {
          img {
            @apply w-13.5 -bottom-1.25 -right-8 max-md:w-6.75 max-md:-right-5;
          }
        }
      }
      span {
        @apply block font-acumin-variable text-[15.3125rem] max-md:text-[7.5rem] tracking-[.02em] leading-none text-center text-white;
        font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
        /* -webkit-text-stroke: .25rem var(--color-primary);
        -webkit-text-fill-color: transparent; */
        -webkit-text-stroke: .25rem var(--title-stroke, var(--color-primary));
        -webkit-text-fill-color: var(--title-fill, transparent);
      }
    }

    .layer-shift {
      @apply absolute translate-y-[100%] left-0 z-[2] grid w-full pointer-events-none h-100 max-md:h-70 bottom-0;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;

      > div {
        @apply h-full bg-black;

        &:nth-child(1) {margin-top: -2px;}
        &:nth-child(2) {margin-top: -4px;}
        &:nth-child(3) {margin-top: -6px;}
        &:nth-child(4) {margin-top: -8px;}
      }
    }
  }

  .home-top {
    width: 100%;
    height: 100svh;

    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Agar video menutupi seluruh layar */
      z-index: -1; /* Supaya di belakang konten */
    }

    .wrapper {
      @apply w-full h-full bg-black/75 grid place-content-center;
      
      p {
        @apply text-[4.6875rem] font-black tracking-[-.04em];
      }
    }
  }

  .home-about {
    @apply bg-cover pt-33 pb-24 max-md:pt-27.5 max-md:pb-20 text-center;

    .wrapper {
      @apply max-md:overflow-x-hidden;
      h2 {
        @apply w-fit mx-auto;

        img {
          @apply w-213 max-md:w-177.5 max-md:max-w-177.5 max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2;
        }

        span {
          @apply block text-[4.6875rem] max-md:text-[4.0625rem] font-black tracking-[-.04em] text-center leading-none md:-mt-11 max-md:pt-15.5;
        }
      }

      #about-desc {
        @apply text-2xl max-md:text-[1.375rem] font-bold leading-[2.25];
      }
    }

    .layer-shift {
      > div {
        @apply bg-cover max-md:bg-[208%_auto] max-md:bg-left-top;
      }
    }
  }

  .home-virtual {
    --title-stroke: var(--color-primary);
    --title-fill: transparent;
    @apply pt-33 pb-24 max-md:pt-26.5 relative;

    .running-txt {
      @apply opacity-10 overflow-hidden absolute -z-[1] top-[21.875rem] select-none w-full text-center max-md:top-[14.5rem];

      > div {
        @apply font-acumin-variable text-[10.625rem] max-md:text-[6.375rem] tracking-[.02em] leading-[1.15] max-md:leading-[1.2] text-primary;
        font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
        > span {
          /* -webkit-text-stroke: .25rem var(--color-primary);
          -webkit-text-fill-color: transparent; */
          -webkit-text-stroke: .25rem var(--title-stroke, var(--color-primary));
          -webkit-text-fill-color: var(--title-fill, transparent);
        }
      }
    }

    .wrapper {
      @apply md:flex md:gap-2.5 justify-center max-w-325 px-7.5 mx-auto;
      .content {
        @apply md:w-203;

        &__img {
          @apply pl-14 pr-23.25 pt-11.25 max-md:pt-0 max-md:px-0;
        }

        &__txt {
          ul {
            @apply grid grid-cols-2 max-md:grid-cols-1 gap-x-3.75 mt-13.75;

            li {
              --color: var(--color-white);
              
              @media (width >= 48rem) {
                &:nth-child(8n+1),
                &:nth-child(8n+2) {
                  --color: var(--color-primary-light);
                }
  
                &:nth-child(8n+3),
                &:nth-child(8n+4) {
                  --color: var(--color-secondary);
                }
  
                &:nth-child(8n+5),
                &:nth-child(8n+6) {
                  --color: var(--color-green);
                }
  
                &:nth-child(8n+7),
                &:nth-child(8n+8) {
                  --color: var(--color-blue);
                }
              }

              @media (width < 48rem) {
                &:nth-child(4n+1) {
                  --color: var(--color-primary-light);
                }
  
                &:nth-child(4n+2) {
                  --color: var(--color-secondary);
                }
  
                &:nth-child(4n+3) {
                  --color: var(--color-green);
                }
  
                &:nth-child(4n+4) {
                  --color: var(--color-blue);
                }
              }

              button {
                @apply relative text-[var(--color)] text-[.875rem] max-md:text-[1.3125rem] opacity-50 hover:opacity-100 border-b-1 border-white/30 w-full h-11 max-md:h-16 cursor-pointer font-medium;

                &::before,
                &::after {
                  @apply absolute content-[''] bg-[var(--color)];
                }

                &::before {
                  @apply top-1/2 -translate-y-1/2 w-0.5 h-5 left-5.75 max-md:w-1 max-md:h-7.5 max-md:left-8.25;
                }
                &::after {
                  @apply top-1/2 -translate-y-1/2 w-5 h-0.5 left-3.5 max-md:h-1 max-md:w-7.5 max-md:left-5;
                }

                &.selected {
                  @apply opacity-100;
                }
              }
            }
          }
        }
      }
      
      .aside {
        @apply w-0 opacity-0 invisible transition-all duration-600 ease-out transition-all duration-600 delay-100 max-md:mt-10;

        &__close-btn {
          @apply select-none cursor-pointer transition-all duration-200 hover:opacity-75;

          img {
            @apply w-6.25 max-md:w-10;
          }
        }

        &__top,
        &__card {
          @apply opacity-0 invisible transition-all duration-100;
        }

        &__top {
          @apply flex font-medium gap-4 justify-between items-center mb-2.5;

          p {
            @apply text-lg text-primary line-clamp-1 flex-1 max-md:text-[1.3125rem];
          }
        }
        
        &__card {
          @apply bg-primary rounded-[.9375rem] w-full overflow-hidden p-6.25;

          ._thumb {
            @apply rounded-[.9375rem];
          }

          ._list {
            @apply mt-7.5 mb-6;
            
            li {
              @apply text-lg font-medium max-md:text-[1.3125rem];
            }
          }

          ._desc {
            @apply mt-7.5 max-md:text-lg;
          }
        }

        &.is-show {
          @apply w-107 max-md:w-full opacity-100 visible transition-all duration-600;

          .aside {
            &__top,
            &__card {
              @apply opacity-100 visible transition-all duration-300 delay-600;
            }
          }
        }
      }
    }
  }

  .home-service {
    --title-stroke: var(--color-primary);
    --title-fill: transparent;
    @apply pt-33 pb-24 relative;
  }
}