.p-posts {
  @apply bg-no-repeat bg-[63rem_auto] bg-[bottom_-21rem_right_-10rem] max-md:bg-[bottom_-3.5rem_right_-31rem];
  background-image: url('assets/img/circle-ornament.png');

  .anchor ul {
    @apply w-fit;
  }

  section {
    @apply pt-24 max-md:pt-25.5 pb-68 max-md:px-7.5 max-md:pb-48;
  }

  .wrapper {
    @apply max-w-270 mx-auto grid grid-cols-2 md:grid-cols-3 gap-x-9 gap-y-14 max-md:gap-x-7.5 max-md:gap-y-11.5;
  }

  &__pagination {
    @apply flex justify-center gap-3 max-md:gap-5 mt-10 max-md:mt-24;

    .page-numbers {
      @apply grid place-content-center min-w-10 h-10 rounded-lg px-3 bg-[#66612F] font-semibold pt-0.5 max-md:pt-1.5 text-lg hover:bg-primary/75 transition-all duration-200 max-md:min-w-14 max-md:h-14 max-md:text-2xl;

      &.current {
        @apply bg-primary;
      }
    }
  }
}