.p-service {
  .anchor {
    ul {
      @apply w-fit mx-auto;
    }
  }

  .main-point {
    @apply flex max-md:flex-col max-md:items-start gap-9 max-md:gap-12 items-center max-md:pr-7.5;
    img {
      @apply w-150 rounded-r-[5rem] max-md:w-153;
    }
    p {
      @apply font-bold text-[1.3125rem] leading-[2] max-md:pl-7.5;
    }
  }

  .point-list {

    &__item {
      @apply relative grid md:flex md:gap-8.5 pl-22.5 pt-6 pb-21 pt-9.5 max-md:pl-0 max-md:pt-9 max-md:flex-wrap max-md:pb-16;

      &:not(:first-child) {

        &::before {
          @apply absolute content-[''] w-screen h-[.0625rem] bg-white left-1/2 -translate-1/2 top-0;
        }
      }
    }

    &__num {
      @apply font-bebas text-[5rem] max-md:text-[6.25rem] leading-[1] max-md:row-start-1 max-md:row-end-2 max-md:text-center;
      -webkit-text-stroke: .0625rem var(--color-white);
      -webkit-text-fill-color: transparent;
    }

    &__desc {
      @apply max-w-184 pt-2 max-md:row-start-3 max-md:row-end-4 max-md:text-center max-md:pt-3;

      h3 {
        @apply font-black text-[2.25rem] tracking-[-.04em] leading-[1.18] max-md:text-[2.375rem];
      }

      p {
        @apply font-medium text-lg leading-[1.78] mt-8 max-md:text-[1.3125rem] max-md:leading-[1.52] max-md:mt-6;
      }
    }

    img {
      @apply md:absolute md:right-0 md:top-10 w-63 ml-auto max-md:row-start-2 max-md:row-end-3 max-md:mx-auto; 
    }
  }

  .grid-list {
    @apply grid gap-y-8 gap-x-6.5 grid-cols-4 max-md:grid-cols-2 max-w-270 mx-auto max-md:px-7.5;

    > * {
      > img {
        @apply w-full aspect-250/64;
      }

      > div {
        @apply bg-primary flex gap-5.5 items-center px-3.25 py-2 rounded-[.1875rem];
        img {
          @apply w-15;
        }
        p {
          @apply text-[1.3125rem] font-medium;
        }
      }
    }
  }

  &__top {
    @apply pt-20 pb-32.5 max-md:pt-25.5 max-md:pb-26.25 text-center;
  }

  section.style-01 {
    @apply pt-24.5 pb-18 max-md:pt-20;

    .wrapper {
      @apply max-w-325 mx-auto;
    }
  }

  section#car-new {
    @apply bg-primary;
  }
  section#insurance,
  section#parts {
    @apply bg-black;
  }

  &#service-car {
    @apply bg-no-repeat bg-[85.625rem_auto] bg-[top_24rem_right_-11.75rem] max-md:bg-[top_23rem_right_-35.5rem];
    background-image: url('assets/img/car-ornament.svg');
  }
  
  &#service-maintenance {
    @apply bg-no-repeat bg-[55.625rem_auto] bg-[top_27rem_right_-12.75rem] max-md:bg-[top_28rem_right_-13rem] max-md:bg-[37.6875rem_auto];
    background-image: url('assets/img/tire-ornament.svg');

    .slide-bg-text__item {
      span{
        @apply max-md:text-[1.625rem] max-md:tracking-[-.05em];
      }
    }
  }

  &#service-insurance {
    @apply bg-no-repeat bg-[68.375rem_auto] bg-[top_28rem_right_-13rem] max-md:bg-[top_23rem_right_-35.5rem];
    background-image: url('assets/img/circle-ornament.png');

    .slide-bg-text__item {
      span{
        @apply max-md:text-[1.5rem] max-md:tracking-[-.05em];
      }
    }

    .point-list {
      img {
        @apply w-58;
      }

      &__item {
        @apply md:pb-30;
      }
    } 

    section#insurance {
      @apply pb-0 border-b border-white;
    }
    section#insurance-handling {
      @apply pb-25.5 max-md:pb-43;
    }
  }

  &#service-mot {
    @apply bg-no-repeat bg-[65.3125rem_auto] bg-[top_22rem_right_1rem] max-md:bg-[top_24rem_right_-22rem] max-md:bg-[58rem_auto];
    background-image: url('assets/img/car-inspect-ornament.svg');

    .slide-bg-text__item {
      span{
        @apply max-md:text-[1.625rem] max-md:tracking-[-.05em];
      }
    }

    .p-service__top {
      @apply pt-42 max-md:pt-26;
    }

    .point-list {
      img {
        @apply w-70.75;
      }
    } 
  }
  
  &#service-parts {
    @apply bg-no-repeat bg-[63.5625rem_auto] bg-[top_12rem_left_-11rem] max-md:bg-[top_7rem_left_-15rem] max-md:bg-[58rem_auto];
    background-image: url('assets/img/speed-ornament.svg');

    .slide-bg-text__item {
      span{
        @apply max-md:text-[1.625rem] max-md:tracking-[-.05em];
      }
    }

    .grid-list {
      @apply grid-cols-3 max-md:grid-cols-2 gap-x-9 gap-y-5 max-md:gap-x-5 max-md:gap-y-3;
    }

    .p-service__top {
      @apply pt-42 max-md:pt-12;
    }

    section#parts {
      @apply pb-41;
    }
  }
}