@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";
@import "./components/_config.css";

@layer utilities {
  .container,
  .c-container {
    @apply mx-auto px-6;
  }
}

@layer components {
  [x-cloak] {
    display: none !important;
  }

  html {
    @apply text-[2.5vw] sm:text-[16px] md:text-[1.2307692308vw] lg:text-[16px];
    overscroll-behavior: none;
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
    overscroll-behavior: none;
  }

  main {
    @apply bg-black mb-231.75 md:mb-126.25 relative;

    &::before {
      @apply content-[''] absolute top-full left-[-1px] w-36.5 h-36.5;
      background-image: url('assets/img/orn-rounded.svg');
      background-size: 100% 100%;
    }
  }

  .sc-title {
    @apply text-center;

    h2 {
      @apply font-bebas text-[3.75rem] max-md:text-[4.6875rem] leading-[1];
      font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800;
      -webkit-text-stroke: 0.021rem var(--color-white);
      -webkit-text-fill-color: transparent;
    }

    p {
      @apply text-lg max-md:text-2xl tracking-[-.04em] mt-2.5 max-md:mt-2 font-medium;
    }

    [data-bg-color='black'] & { 
      @apply text-primary;

      h2 {
        -webkit-text-stroke-color: var(--color-primary);
      }
    }
  }

  /* @import "./components/swup.css"; */

  @import "./components/btn.css";
  @import "./components/animate.css";
  @import "./components/header.css";
  @import "./components/footer.css";
  @import "./components/title-section.css";

  @import "./pages/home.css";
  @import "./pages/about.css";
  @import "./pages/service.css";
  @import "./pages/post.css";
  @import "./pages/contact.css";
}