@import "tailwindcss";
@import "./components/_config.css";

@layer utilities {
  .container,
  .c-container {
    @apply mx-auto px-6;
  }
}

@layer components {
  [x-cloak] {
    display: none !important;
  }

  html {
    @apply text-[2.5vw] sm:text-[16px] md:text-[1.2307692308vw] lg:text-[16px];
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
  }

  main {
    @apply bg-black mb-231.75 md:mb-126.25 relative;

    &::before {
      @apply content-[''] absolute top-full left-0 w-36.5 h-36.5;
      background-image: url('assets/img/orn-rounded.svg');
      background-size: 100% 100%;
    }
  }

  /* @import "./components/swup.css"; */

  @import "./components/btn.css";
  @import "./components/header.css";
  @import "./components/footer.css";
  @import "./components/title-section.css";

  @import "./pages/home.css";
  @import "./pages/about.css";
  @import "./pages/post.css";
  @import "./pages/contact.css";
}